*{
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
    box-sizing: border-box;
}

.container  {
    width: 100%;
    min-height: 100vh;
    background-color: #c7daf1;
    /*opacity: 0.9;*/
    background: radial-gradient(circle, transparent 20%, #c7daf1 20%, #c7daf1 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #c7daf1 20%, #c7daf1 80%, transparent 80%, transparent) 30px 30px, linear-gradient(#8d8dbc 2.4000000000000004px, transparent 2.4000000000000004px) 0 -1.2000000000000002px, linear-gradient(90deg, #8d8dbc 2.4000000000000004px, #c7daf1 2.4000000000000004px) -1.2000000000000002px 0;
    background-size: 60px 60px, 60px 60px, 30px 30px, 30px 30px;
    /*background: linear-gradient(135deg,  #404040, #000d1a);*/
    padding: 10px;
}

.todo--app  {
    width: 1005;
    max-width: 540px;
    background:  #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 5px;
}

.todo--app > h2 {
    color: black;
    margin-bottom: 20px;
}

.input--container   {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input   {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #7575a3;
    color: #15151e;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

button:hover {
    background: #a3a3c2;
}

button:active {
    background: #d1d1e0;
}

ul > li {
    list-style: none;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    padding: 12px 8px 12px 50px;
    position: relative;
}

ul > li::before {
    display: inline-block;
    content: '☐';
    position: absolute:
    height: 28px;
    width: 28px;
    border-radius: 50%;
    /*background-image: url('images/unchecked.png');*/
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    /*padding-right: 10px;*/
}

ul > li.checked {
    color: #555;
    text-decoration: line-through;
    text-decoration-color: #a37581;
}

ul > li.checked::before{
    content: '☑';
    color: #75a375;
    text-decoration: none !important;
    /*background-image: url('images/checked.png');*/
}

ul > li > span  {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555555;
    line-height: 40px;
    text-align: center;
    border-radius: 30%;
}

ul > li > span:hover {
    background: #edeef0;
    color: #ff3300;
}

ul > li > span:active {
    width: 42px;
    height: 42px;
}

